@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Edu AU VIC WA NT Pre';
}

/* Ogólne style */
body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h1 {
    font-size: 24px;
    text-align: center;
    color: #333;
}

.button_pierwszy {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.button_pierwszy:hover {
    background-color: #45a049;
}

img {
    max-width: 100%;
    height: auto;
}

#catflower, #catflower1, #catsweating {
    max-width: 90%;
}

.photo_gallery {
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

/* Styl dla formularzy */
.main_kalendarz input, .main_kalendarz button {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
}

/* Media Queries */
@media (max-width: 768px) {
    .main {
        flex-direction: column;
        padding: 20px;
    }

    h1 {
        font-size: 20px;
    }

    .photo_gallery {
        gap: 15px;
    }

    .button_pierwszy {
        width: 100%;
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 18px;
    }

    .button_pierwszy {
        width: 100%;
        font-size: 14px;
        padding: 8px 16px;
    }
}
